bin/*.exe
bin/*.dll
bin/*.lib
bin/*.pdb
obj/*
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/*
bin/data/*.mp4
bin/data/*/*.mp4
bin/data/*.gif
bin/data/*/*.gif
bin/data/*.jpg
bin/data/*/*.jpg
bin/data/*.txt
bin/data/*/*.txt